body{
    
    background-image: url(images/Bkg.png);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-repeat: repeat;
    
}
.menu {
  background-color: #101010;
  overflow: hidden;
  height: 80px;
}

.menu h1 {
  color: white;
  text-align: center;
  padding: 10px 10px 100px 10px;
  margin: 0;
  
}

.menu a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 28px 45px 30px 40px;
  text-decoration: none;
  height: 80px;
}

.menu a:hover {
  background-color: #11495A;
}

.active {
  background-color: #18272B;
}

.perfilphoto{
  display: block;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
}

.title{

font-size: 24px;
padding: 0px 0px 50px 100px;
font-family: "Inter", sans-serif;
color: white;


}

.hi{
 
  font-size: 36px;
    font-family: "Inter", sans-serif;
    margin: auto;
    width: 50%;
    padding: 0px 0px 0px 0px;
    color: white;
    text-align: center;
    font-weight: 100;
  }

  .name{

    font-size: 64px;
    font-family: "Inter", sans-serif;
    margin: auto;
    width: 50%;
    padding: 0px 0px 0px 0px;
    color: white;
    text-align: center;
    font-weight: bolder;
    }

    .ux{
 
      font-size: 26px;
        font-family: "Inter", sans-serif;
        margin: auto;
        width: 50%;
        padding: 12px;
        color: #5EBEDC;
        text-align: center;
        font-weight: 100;
      }

      .separatortop{
        position: relative;
        width: 30%;
        padding: 40px 0px 0px 530px;
        z-index: 1000;
        
      }

      .button{

        position: relative;
        top: -22px;
        left: 600px;
        right: 0px;
        z-index: 999;
        width: 20%;
        
      }